<div id="todo-list-app">
  <h1 class="title">Todo List</h1>

  <div class="columns is-multiline">
    <% 6.times do %>
      <div class="column is-20-percent">
        <div class="todo">
          <div class="todo-content">
            <input type="text" value="這是模板">
          </div>
          <div class="todo-remove">x</div>
        </div>
      </div>
    <% end %>

    <div class="column is-20-percent">
      <div class="todo">
        <div class="todo-content">
          <input type="text" placeholder="create new task ...">
        </div>
      </div>
    </div>
  </div>
</div>

